/* style.css 07-29-2024 */
body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome, Opera, and many mobile browsers */
    touch-action: manipulation;  /* Improve touch behavior on some mobile devices */
}
p {
    margin: 0;
    padding: 0;
}
span {
    white-space: pre-line;
    display: inline-block;
}

/* BUTTONS */
.button {
    background-color: black;
    color: #FFCB30;
}
.button_container {
    white-space: nowrap;
}
.remove-outline {
    outline: none;
}

.regtxt {
    color: white;
}
.whitespace {
    white-space: pre-line;
}
.sameline {
    white-space: pre-line;
    display: inline-block;
}
.divsections {
    color: yellow;
    font-size: 18px;
    text-decoration: underline;
    padding: 10px;
}
.light_small {
    font-size: 12px;
    color: #CCCCCC;
}
.button_faded {
    color: #CCCCCC;
}
.ltbluetxt_2 {
    color: #CCFFF8;
}
.button_orange {
    color: #FFCB30;
}
.ltgreentxt {
    color: #4EF591;
}
.pinktxt {
    color: #FFB3FC;
}
.ltbluetxt {
    color: #2FEBD2;
}
.ltred {
    color: #FFA2A1;
}
.level {
  display: none; /* Initially hide all levels */
}
.active {
  display: block; /* Show the active level */
}
.details {
  display: none;
}
.yellowtxt {
  color: yellow;
}
.crossed-out {
    text-decoration: line-through;
    display: inline;
}
.tooltip-style {
    border: thick solid #CCFFF8;
}
